@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-hover: #f2f2f2;
  --foreground: #1a1a1a;

  --primary: #b26cff;
  --hover-primary: #9b52f0;
  --accent: #ff7a00;

  --font-sans: var(--font-geist-sans, "Inter", sans-serif);
  --font-mono: var(--font-geist-mono, "Fira Code", monospace);
}

html[data-theme="dark"] {
  --background: #0e0e0e;
  --background-hover: #2b2b2b;
  --foreground: #f5f5f5;

  --primary: #d8a9ff;
  --hover-primary: #be7df8;
  --accent: #ff9533;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}
