@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-hover: #c7c7c7;
  --foreground: #171717;
  --primary: #cda5ee;
  --hover-primary: #a862ef;
  --accent: #ff9e00;

  --font-sans: var(--font-geist-sans, "Inter", sans-serif);
  --font-mono: var(--font-geist-mono, "Fira Code", monospace);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-hover: #272727;
    --foreground: #e0e0e0;
    --primary: #9d6ecb;
    --hover-primary: #b583f5;
    --accent: #cc7e00;
  }
}

html[data-theme="light"] {
  --background: #ffffff;
  --background-hover: #e0e0e0;
  --foreground: #171717;
  --primary: #cda5ee;
  --hover-primary: #a862ef;
  --accent: #ff9e00;
}

html[data-theme="dark"] {
  --background: #0a0a0a;
  --background-hover: #272727;
  --foreground: #e0e0e0;
  --primary: #9d4edd;
  --hover-primary: #8d47c6;
  --accent: #ff6d00;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  transition:
    background 0.3s,
    color 0.3s;
}
